@font-face {
  font-family: customFont;
  src: url(Roboto-Regular.ttf);
  font-weight: normal;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {

}

h1 {
  color: white;
  text-align: center;
}

p {
  color: red;
  font-family:'customFont';
}

img{
    text-align: center;
}

.ind-prg{
  text-indent: 50px;
}

footer{
  text-align: center;
}

.content {
  background-color: lightgray;
  padding: 50px;
  margin: 20px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}



.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 1rem;
  background-color: beige;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.item2-image {
  width: 200px;
}

@media screen and (min-width: 400px) {
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
  }

  .item2-image {
    width: 50px;
  }
    main{
    font-size: 12px;
  }
}

@media screen and (min-width: 800px) {
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
  }

  .item2-image {
   width: 100px;
  }

  main{
    font-size: 18px;
  }
  img{

  }
}

@media print {
  nav, iframe {
    display: none;
  }
  body {
    color: black;
    font-family: Serif;
    width:100%!important;
    padding:0!important;
    margin:1in!important;
  }
  p{
    font-size: 12px;
  }
  h1{
    font-size: 18px;
  }
  h3{
    font-size: 16px;
  }
  blockquote{
    font-size: 14px;
  }
}

footer  {
  background-image: url("footer-background.jpg");
}

